---
import Layout from "../layouts/Layout.astro";
import scriptbook from "../assets/img/scriptbook_screenshot.png";
import laurelate from "../assets/img/laurelate_screenshot.png";
import jeblore from "../assets/img/jeblore_screenshot.png";
import jialong from "../assets/img/jiaolongart_screenshot.png";
import julian from "../assets/img/julian.jpg";
import { Image } from "astro:assets";

const works: {
  name: string;
  info: string;
  link: string;
  img: {
    src: ImageMetadata;
    alt: string;
  };
}[] = [
  {
    name: "Scriptbook",
    info: "notebooks for screenwriters",
    link: "https://getscriptbook.com/",
    img: { src: scriptbook, alt: "Screenshot of website" },
  },
  {
    name: "Laurelate",
    info: "chocolate alternative from native plants",
    link: "https://www.laurelate.com/",
    img: { src: laurelate, alt: "Screenshot of website" },
  },
  {
    name: "jeblore",
    info: "online webcomic",
    link: "https://jeblore.com/",
    img: { src: jeblore, alt: "Screenshot of website" },
  },
  {
    name: "JialongArt",
    info: "select art portfolio",
    link: "https://jiaolongart.com/",
    img: { src: jialong, alt: "Screenshot of website" },
  },
];

const offers: { title: string; content: string }[] = [
  {
    title: "100% Hand-Built Websites",
    content:
      "No page builders here! We create everything from scratch for you, offering superior results for your business.",
  },
  {
    title: "Fully Responsive",
    content:
      "We design mobile-first and work our way up. Your website will look good for any device your potential customer uses.",
  },
  {
    title: "Optimized Speed",
    content:
      "Have you ever exited a website because it took too long to load? Not here. All of our sites are optmized for speed and accessiblity, increasing conversions.",
  },
  {
    title: "From Static to E-Commerce",
    content:
      "We can design informational websites for your local business to complex online stores for selling your new idea. Just ask and we can make it happen.",
  },
];
---

<Layout
  title="Manzanita Web Design"
  description="We make custom websites for your local business. Based in the Antelope Valley."
>
  <main class="flex flex-col">
    <section class="flex h-[95dvh] flex-col">
      <div
        class="bg-url flex h-full w-full justify-center bg-neutral pl-6 text-bg"
      >
        <div
          class="border-bg-rose flex h-full w-full flex-col items-center justify-center gap-8 border-l-2 px-6"
        >
          <h1
            class="w-fit font-special text-6xl text-shadow-2xs md:text-8xl xl:text-9xl"
          >
            <span class="split text-accent-primary">Manzanita</span>
            Web Design
          </h1>
          <h2 class="text-xl font-light md:text-2xl">
            custom websites for your local business
          </h2>
        </div>
      </div>
      <div class="flex h-full w-full items-center justify-center">
        <nav class="flex w-full justify-center border-b-2 border-neutral">
          <ul
            class="flex w-full max-w-96 justify-around gap-8 px-6 font-special text-2xl"
          >
            <li>
              <a href="#work">work</a>
            </li>
            <li>
              <a href="#about">about</a>
            </li>
            <li>
              <a href="#contact">contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section
      class="mb-24 flex min-h-dvh flex-col items-center justify-center gap-24 px-6"
    >
      <div
        class="gsap-border-shadow brutal-shadow flex flex-col items-center gap-6 border-2 p-6 font-special text-6xl md:text-8xl"
      >
        <span class="">Elegant.</span>
        <span class="">Intuitive.</span>
        <span class="">Accessible.</span>
      </div>
      <div class="flex flex-col items-center gap-8">
        <p class="text-center text-lg">
          We work with you to deliver websites that boost <strong
            id="visiblity"
            class="gsap-emphasis text-3xl text-accent-primary">visiblity</strong
          > and <strong
            id="sales"
            class="gsap-emphasis text-3xl text-accent-primary">sales</strong
          >.
        </p>
      </div>
      <ul class="grid grid-cols-1 justify-center gap-2 sm:grid-cols-2">
        {
          offers.map((offer) => {
            return (
              <li class="max-w-96 border-2 p-4">
                <h3 class="mb-2 font-special text-xl font-bold lg:text-2xl">
                  {offer.title}
                </h3>
                <p class="lg:text-lg">{offer.content}</p>
              </li>
            );
          })
        }
      </ul>
    </section>
    <section id="work" class="mx-auto mb-36 flex flex-col overflow-hidden px-6">
      <h2 class="relative mb-12 font-special text-3xl">
        A selection of our work
        <div class="absolute h-[2px] w-full bg-neutral"></div>
      </h2>
      <ul class="flex flex-wrap justify-center gap-12 sm:grid-cols-2">
        {
          works.map((work) => {
            return (
              <li class="gsap-slide flex flex-col gap-4">
                <div class="">
                  <h3 class="text-start font-special text-5xl">{work.name}</h3>
                  <p class="pl-1 font-light">{work.info}</p>
                </div>
                <div class="relative">
                  <Image
                    src={work.img.src}
                    alt=""
                    height={400}
                    width={400}
                    class="brutal-shadow h-auto"
                  />
                  <a
                    href={work.link}
                    class="absolute right-0 bottom-0 border-2 border-neutral bg-neutral px-4 py-3 text-bg duration-150 hover:border-2 hover:border-bg"
                  >
                    See It Online
                  </a>
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
    <section id="about" class="mx-auto mb-24 px-6">
      <p class="mb-12 font-special text-6xl">
        Making websites for the <br />Antelope Valley, California, and beyond.<br
        /> Since 2023.
      </p>
      <div class="flex w-fit flex-wrap justify-center gap-12">
        <figure class="relative w-fit">
          <Image
            src={julian}
            alt="Selfie of Julian Krzysiak"
            width={400}
            height={400}
            class="border-2 border-neutral"
          />
          <figcaption
            class="absolute right-0 bottom-0 flex flex-col items-end bg-neutral px-4 py-3 text-end text-sm text-bg"
          >
            Julian Krzysiak,<br />
            Owner & Developer
          </figcaption>
        </figure>

        <div class="prose">
          <p>
            Howdy, I'm Julian, and I'm the lead developer in charge of <span
              class="font-special text-xl"
            >
              Manzanita Web Design.
            </span>
            At first I just made websites for friends and family, always emphasizing
            site speed and efficient design.
          </p>
          <p>
            Eventually, I wanted to share my skills with those around me. Many
            people have amazing ideas and awesome products, but business growth
            relies so much on communication and presentation.
          </p>
          <p>
            And that's where we come in. We provide great websites to showcase
            your new popup, local storefront, or online business. Invest in us,
            and you'll get dividends on reaching your next new client.
          </p>
          <p>Thank you!</p>
        </div>
      </div>
    </section>
    <section
      id="contact"
      class="mx-auto mb-24 flex min-h-[50dvh] flex-col gap-12 px-6"
    >
      <div class="flex flex-col gap-2 font-special text-5xl md:text-7xl">
        <h3>Questions?</h3>
        <h3>Quotes?</h3>
        <h3>Ready to start?</h3>
      </div>
      <div class="flex flex-col items-center gap-12">
        <h2
          class="gsap-contact text-center font-special text-6xl font-medium text-accent-primary md:text-9xl"
        >
          Let's get in touch!
        </h2>
        <div class="flex flex-col items-center gap-4">
          <p class="text-center text-lg">
            info@<span>manzanita</span><span class="hidden">apple</span
            >webdesign.<span class="hidden">example.</span><span>com</span>
          </p>
          <button
            class="copy border-2 px-4 py-3 text-lg outline-accent-primary duration-150 hover:border-accent-primary active:outline-2"
            >Copy Email</button
          >
        </div>
      </div>
    </section>
    <footer class="flex justify-between border-t-2 px-4 py-1 text-sm">
      <span> © 2025 Manzanita Web Design </span>
      <button class="party">confetti</button>
    </footer>
  </main>
</Layout>

<style>
  .brutal-shadow {
    box-shadow: 10px 10px var(--color-neutral);
  }
</style>

<script>
  import gsap from "gsap";
  import party from "party-js";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const copy = document.querySelector(".copy");
  copy?.addEventListener("click", async () => {
    try {
      await navigator.clipboard.writeText("info@manzanitawebdesign.com");
      copy.textContent = "Email copied";
    } catch (error) {
      console.log(error);
      copy.textContent = "Couldn't copy";
    }
  });

  let mm = gsap.matchMedia();
  const slideElements = document.querySelectorAll(".gsap-slide");
  slideElements.forEach((el) => {
    mm.add("(prefers-reduced-motion: reduce)", (context) => {
      gsap.from(el, {
        opacity: 0,
        scrollTrigger: {
          trigger: el,
          start: "top bottom",
          end: "center bottom",
          scrub: 1,
        },
      });
    });
    mm.add("(prefers-reduced-motion: no-preference)", (context) => {
      gsap.from(el, {
        x: "random(-50,50)",
        opacity: 0,
        scrollTrigger: {
          trigger: el,
          start: "top bottom",
          end: "center bottom",
          scrub: 1,
        },
      });
    });
  });

  gsap.from(".gsap-border-shadow", {
    boxShadow: "0px 0px",
    scrollTrigger: {
      trigger: ".gsap-border-shadow",
      start: "top 75%",
      end: "center center",
      scrub: 1,
    },
  });

  gsap.from(".gsap-emphasis", {
    scrollTrigger: {
      trigger: ".gsap-emphasis",
      start: "top 75%",
      end: "+=100",
      scrub: 1,
    },
    fontSize: "18px",
    color: "var(--color-neutral)",
    stagger: 1,
  });

  gsap.from(".gsap-contact", {
    color: "var(--color-neutral)",
    scrollTrigger: {
      trigger: ".gsap-contact",
      start: "top 75%",
      end: "+=100",
      scrub: 1,
    },
  });
  document.querySelector(".party")!.addEventListener("click", function (e) {
    // @ts-ignore
    party.confetti(this);
  });
</script>
